@font-face {
  font-family: gibsonregular;
  src: url("/assets/fonts/gibson-regular-webfont.woff2"); /* IE */
  src: local('gibsonregular'), url('/assets/fonts/gibson-regular-webfont.woff2') format('truetype'); /* others */
}

@font-face {
  font-family: gibsonsemibold;
  src: url("/assets/fonts/gibson-semibold-webfont.woff2"); /* IE */
  src: local('gibsonsemibold'), url('/assets/fonts/gibson-semibold-webfont.woff2') format('truetype'); /* others */
}


/* -------------------Website Theme------------------------ */

:root {
  --hue-1: 214.9;
  --hue-2: 230;
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 97%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --main-color-1: hsl(var(--hue-1), 100%, 21.6%);
  --main-color-2: hsl(var(--hue-2), 90%, 64%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 15%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
}



/* --------------------General Styles---------------------- */

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color)
  font-family 'gibsonregular', sans-serif;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: var(--bg-color-2);
}

a{
  text-decoration: none;
}

ul {
  list-style: none;
}
/* --------------------Reuseable CSS Code---------------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 80rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.sub-heading{
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.95rem;
  letter-spacing: 0.3px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "gibsonsemibold", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 2rem 0;
}

/* --------------------Navbar Styling---------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s;
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px); ;
}

nav.container {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.logo{
  margin-right: 1.5rem;
  height: 120px;
  line-height: 120px;
  font-family: "gibsonsemibold", sans-serif;
  font-size: 1.5rem;
  color: var(--heading-color);
  letter-spacing: 1px;
  transition: 0.3s;
}

.logo span {
  color: var(--main-color-2);
}

header .logo {
  height: 70px;
  line-height: 70px;
}

header.scrolled .logo {
  height: 70px;
  line-height: 70px;
}

.links {
  /* background-color: red; */
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.3px;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.8;
  transition: 0.3s;
}

.nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: -5px;
  z-index: -1;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color-1);
  transition: 0.3s;
  opacity: 0 ;
}

.nav-link:hover {
  color: var(--heading-color);
}

.nav-link:hover::after{
  width: 100%;
  opacity: 0.2;
}

.toggle-btn {
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.toggle-btn:hover {
  filter: brightness(80%);
}



/* --------------------Showcase Area Styling---------------------- */

.showcase-area {
  padding: 120px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: calc(100vh - 120px);
  max-height: 600px;
  align-items: center;
}

.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}

.showcase-area .heading {
  font-size: 3.5rem;
  padding-bottom: 1rem;
}

.showcase-area .text {
  font-size: 1.3rem;
  margin: 0.8rem 0;
  padding-bottom: 1rem;
}

.cta {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}

.toggle-btn-social {
  color: var(--heading-color);
  min-width: 60px;
  height: 60px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.7rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  margin-right: 1.5rem;
}

.toggle-btn-social:hover {
  filter: brightness(80%);
}



.showcase-image {
  position: relative;
  width: 100%;
  min-height: calc(100% + 120px);
  background-color: var(--main-color-1);
  background-image: linear-gradient(124deg, var(--main-color-2) 50%, var(--main-color-1) 50%);
  /* margin-top: -120px; */
  border-radius: 0 0 80px 80px;
}

.showcase-image .person{
  position: absolute;
  width: 95%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.dots {
  width: 112px;
}

.showcase-area .circle {
  position: absolute;
  width: 190px;
  left: 0;
  top: 80%;
  transform: translate(-50%, -50%);
}

.showcase-area .dots {
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%,-50%);
}

/* --------------------Countdown Timer---------------------- */

.countdown {
  font-size: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-bottom: 1rem;
}

.countdown div {
  padding: 15px;
  border: 1px #fff solid;
  border-radius: 10px;
  background: var(--main-color-dark-1);
  opacity: 0.8;
  margin: 6px;
}

.countdown div:first-child {
  background: var(--bg-color-1);
}

.countdown span {
  display: block;
  font-size: 1.6rem;
}